* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

a {
    color: inherit;
}

.icon {
    height: 3em;
    vertical-align: middle;
    display: inline-block;
    border-radius: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr 1fr;
    height: 100vh;
}

header {
    grid-column: 2 / 3;
    grid-row: 1/2;
    padding: 8px;
    background-color: #e2e8f0;
    color: #334155;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.new {
    display: flex;
    gap: 16px;
}

aside {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding: 8px;
    background-color: #0f172a;
    color: #f1f5f9;
}

main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 8px;
    background-color: #475569;
    color: #f1f5f9;
    padding: 32px;
}

footer {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding: 8px;
    background-color: #e2e8f0;
    color: #334155;
    text-align: center;
}

.todo-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 30%));
    gap: 32px;
}

.card {
    border-radius: 6px;
    padding: 8px;
    background-color: #e2e8f0;
    color: #334155;
}

button {
    background-color: #0f172a;
    color: #f1f5f9;
    border: none;
    border-radius: 100px;
    width:auto;
    height: 3em;
    padding: 8px;
    font-size: 1em;
}

dialog[open]{
    padding: 8px;
    display: grid;
    gap: 8px;
    margin: 8px;
    border-radius: 12px;
}